<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whitehats.suraksha">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.whitehats.suraksha.AboutUs"
            android:exported="true"
            android:label="AboutUs"
            android:parentActivityName="com.whitehats.suraksha.MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name="com.whitehats.suraksha.MagBtnInst"
            android:exported="true"
            android:label="Detailed Instructions"
            android:parentActivityName="com.whitehats.suraksha.Magnetometer"
            android:theme="@style/Theme.New"/>
        <activity
            android:name="com.whitehats.suraksha.SosInsructionsActivity"
            android:exported="true"
            android:label="SOS Instructions"
            android:parentActivityName="com.whitehats.suraksha.SmsActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name="com.whitehats.suraksha.Magnetometer"
            android:exported="true"
            android:label="Spy Camera Dectector"
            android:parentActivityName="com.whitehats.suraksha.ChoosenActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name="com.whitehats.suraksha.MagnoInst"
            android:exported="true"
            android:label="Manual Detection"
            android:parentActivityName="com.whitehats.suraksha.ChoosenActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name="com.whitehats.suraksha.Outside"
            android:exported="true"
            android:label="Outside Instructions"
            android:parentActivityName="com.whitehats.suraksha.MagnoInst"
            android:theme="@style/Theme.New"/>
        <activity
            android:name="com.whitehats.suraksha.ChangingRoom"
            android:exported="true"
            android:label="ChangingRoom Instructions"
            android:parentActivityName="com.whitehats.suraksha.MagnoInst"
            android:theme="@style/Theme.New"/>
        <activity
            android:name="com.whitehats.suraksha.Bedroom"
            android:exported="true"
            android:label="Bedroom Instructions"
            android:parentActivityName="com.whitehats.suraksha.MagnoInst"
            android:theme="@style/Theme.New"/>
        <activity
            android:name="com.whitehats.suraksha.Bathroom"
            android:exported="true"
            android:label="Bathroom Instructions"
            android:parentActivityName="com.whitehats.suraksha.MagnoInst"
            android:theme="@style/Theme.New"/>
        <activity
            android:name="com.whitehats.suraksha.ChoosenActivity"
            android:exported="true"
            android:label="Detect Hidden Cameras"
            android:parentActivityName="com.whitehats.suraksha.MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name="com.whitehats.suraksha.NewsActivity"
            android:exported="true"
            android:label="Women's News"
            android:parentActivityName="com.whitehats.suraksha.MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name="com.whitehats.suraksha.Instructions"
            android:label="App Tour"
            android:parentActivityName="com.whitehats.suraksha.MainActivity"
            android:theme="@style/Theme.New" />
        <activity android:name="com.whitehats.suraksha.webactivity" />
        <activity
            android:name="com.whitehats.suraksha.SmsActivity"
            android:label="Emergency Service"
            android:parentActivityName="com.whitehats.suraksha.MainActivity"
            android:theme="@style/Theme.New" />
        <activity android:name="com.whitehats.suraksha.CurrentLocation" />
        <activity android:name="com.whitehats.suraksha.Flashing" />
        <activity android:name="com.whitehats.suraksha.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.whitehats.suraksha.MainActivity" />

        <receiver android:name="com.whitehats.suraksha.ScreenOnOffReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="number.action.string" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.whitehats.suraksha.ScreenOnOffBackgroundService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>