<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whitehats.suraksha">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyAuBuypvxQHdxROrdFbFQTT8UOscaeDNUg"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".fake_call"
            android:exported="false" />
        <activity
            android:name=".Incident_reporting"
            android:exported="false" />
        <activity
            android:name=".safety"
            android:exported="false" />
        <activity
            android:name=".ParentCode"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyContactsActivity"
            android:exported="false" />
        <activity
            android:name=".ParentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="true"
            android:label="AboutUs"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".MagBtnInst"
            android:exported="true"
            android:label="Detailed Instructions"
            android:parentActivityName=".Magnetometer"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".SosInsructionsActivity"
            android:exported="true"
            android:label="SOS Instructions"
            android:parentActivityName=".SmsActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".Magnetometer"
            android:exported="true"
            android:label="Spy Camera Dectector"
            android:parentActivityName=".ChoosenActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".MagnoInst"
            android:exported="true"
            android:label="Manual Detection"
            android:parentActivityName=".ChoosenActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".Outside"
            android:exported="true"
            android:label="Outside Instructions"
            android:parentActivityName=".MagnoInst"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".ChangingRoom"
            android:exported="true"
            android:label="ChangingRoom Instructions"
            android:parentActivityName=".MagnoInst"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".Bedroom"
            android:exported="true"
            android:label="Bedroom Instructions"
            android:parentActivityName=".MagnoInst"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".Bathroom"
            android:exported="true"
            android:label="Bathroom Instructions"
            android:parentActivityName=".MagnoInst"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".ChoosenActivity"
            android:exported="true"
            android:label="Detect Hidden Cameras"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".NewsActivity"
            android:exported="true"
            android:label="Women&apos;s News"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.New" />
        <activity
            android:name=".Instructions"
            android:label="App Tour"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.New" />
        <activity android:name=".webactivity" />
        <activity
            android:name=".SmsActivity"
            android:label="Emergency Service"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.New" />
        <activity android:name=".CurrentLocation" />
        <activity android:name=".Flashing" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".ScreenOnOffReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="number.action.string" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ScreenOnOffBackgroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>